.pixel-blast-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pixel-blast-container canvas {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
  user-select: none;
}

